/* 
  ==================
    CSS Reset
  ================== 
*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 2em 0;
}

h1 + p {
  color: #f18119;
  font-size: 1.3125rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin-bottom: 0;
}

h2 + p {
  font-weight: 900;
  color: #f18119;
}

strong {
  font-weight: 900;
}

.col-1 {
  background: #404040;
  background-image: url(../assets/dark-ribs.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-tracks: center;
  padding: 2em;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-container .top-text {
  order: 0;
}

.title-container h1 {
  order: 1;
  text-transform: uppercase;
}

.title-container p {
  order: 2;
}

.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sub-title {
  text-transform: uppercase;
  margin-top: 1em;
}

.form-container {
  margin: 1em;
  text-align: center;
  padding: 2em;
}

.info {
  line-height: 1.5em;
}

input {
  width: 75%;
  margin: 1em 0;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid lightgrey;
  text-align: center;
  text-transform: uppercase;
}

.register {
  background: linear-gradient(to left, #ff713b, #ffa61d);
  color: #fff;
  transition: 0.3s;
}

.register:hover,
.register:focus {
  cursor: pointer;
}

.disclaimer {
  width: 75%;
  margin: 0 auto;
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* 
  ==================
    Media Query
  ================== 
*/

/* 950px and up */
@media only screen and (min-width: 950px) {
  body {
    flex-direction: row;
  }

  .col-1 {
    height: 100%;
    width: 55%;
  }

  .col-2 {
    height: 100%;
    width: 45%;
    background: rgb(232, 232, 232);
  }

  .form-container {
    margin: 3em;
    padding: 3em;
  }

  .title-container {
    /* border: 1px solid white; */
    padding: 0 2em;
    justify-content: space-around;
  }

  .title-container h1 {
    font-size: 5em;
  }

  .title-container .top-text {
    font-size: 1em;
  }

  .title-container p {
    font-size: 3em;
    position: relative;
    /* bottom: 200px; */
  }
}
