/* 
  ==================
    CSS Reset
  ================== 
*/

/* 
#F18119
#404040

#FF713B-#FFA61D
*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 2em 0;
}

h1 + p {
  color: #f18119;
  font-size: 1.3125rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin-bottom: 0;
}

h2 + p {
  font-weight: 900;
  color: #f18119;
}

strong {
  font-weight: 900;
}

.column {
  border: 1px solid black;
}

.col-1 {
  background: #404040;
  background-image: url(../assets/dark-ribs.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 0.5em 2em;
  display: flex;
  flex-flow: column;
}

.col-1 .top-text {
  order: -1;
}

.col-1 h1 {
  order: 0;
}

.col-1 p {
  order: 1;
}

.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sub-title {
  text-transform: uppercase;
  margin-top: 0;
}

.form-container {
  /* border: 1px solid black; */
  margin: 1em;
  margin-bottom: 4em;
  text-align: center;
}

input {
  width: 75%;
  margin: 1em 0;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid lightgrey;
  text-align: center;
  text-transform: uppercase;
}

.register {
  background: linear-gradient(to left, #ff713b, #ffa61d);
  color: #fff;
  transition: 0.3s;
}

.register:hover,
.register:focus {
  cursor: pointer;
}

.disclaimer {
  width: 75%;
  margin: 0 auto;
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* 
  ==================
    Media Query
  ================== 
*/

@media only screen and (min-width: 950px) {
  body {
    flex-direction: row;
  }

  .column {
    border: 1px solid black;
  }

  .col-1 {
    height: 100%;
    width: 55%;
    background: pink;
  }

  .col-2 {
    height: 100%;
    width: 45%;
    background: aliceblue;
  }

  .form-container {
    margin: 3em;
    padding: 3em;
  }
}
